@use "../../../base/mixins" as *;

.about_us {
    width: 100%;
}

.about_container {
    @include section_layout; // сюда переноси миксин
    margin: 0 auto;
    justify-content: space-between;
}

.about_title {
    @include title_standart
}

.about_subtitle {
    font-family: Rubik;
    width: 580px;
    color: #67675F;
}

.about_stats {
    display: flex;
    background-color: #F8F8F8;
    padding: 120px 90px;
    border-radius: 24px;
}

.stat_blocks {
    display: flex;
    gap: 150px;
}

.stat {
    position: relative;
    text-align: center;
}

.stat_num {
    font-size: 88px;
    font-family: Rubik;
    font-weight: 300;
    padding-bottom: 18px;
}

.stat_subtitle {
    color:#67675F
}

.stat_plus {
    position: absolute;
    font-size: 40px;
    color: #27AE60;
    font-weight: 500;
    bottom: 100px;
    left: 130px;
}