@use "../../../base/mixins" as *;

.containerEquipment {
@include container
}

.equipment_container {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.equipment_img {
    flex: 1 1 400px;
    max-width: 750px;
    min-width: 300px;
    height: auto;
    border-radius: 8px;
}

.equipment_content {
    flex: 1 1 300px;
    min-width: 320px;
}

.equipment_title {
    font-family: Rubik;
    font-size: 42px;
    font-weight: 500;
}

.equipment_subtitle {
    font-family: Rubik;
    max-width: 600px;
    color: #67675F;
    padding-bottom: 35px;
    line-height: 1.5;
}

.equipment_buttons {
    display: flex;
    flex-wrap: nowrap;
    min-width: 320px;
    gap: 20px;
}

.equipment_btn {
    color: white;
    width: 100%;
    flex:  0 1 230px;
    min-width: 150px;
    height: 60px;
    border-radius: 8px;
    border: none;
    background-color: #27AE60;
    cursor: pointer;
    transition: 0.3s;
}

.equipment_btn:hover {
    background-color: #219150;
    transform: translateY(-2px);
}

.equipment_btn_title {
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 1024px) {
    .equipment_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .equipment_title {
        font-size: 40px;
    }
    .equipment_btn {
        flex: 0 1 180px;
        height: 54px;
    }
    .equipment_btn_title {
        font-size: 18px;
    }
}