// Colors

$color_primary: #27AE60;
$color-primary-hover: #219150;
$color-muted: #67675F;
$color-dark: #1D1D1B;
$color-light: #F8F8F8;
$color-white: #ffffff;

// Fonts-Family

$font-primary: Rubik;
$font-spare: Montserrat;

// Font Size

$fs_xs: 12px;
$fs_s: 14px; 
$fs_m: 16px; 
$fs_l: 18px; 
$fs_xl: 20px; 
$fs_h2: 38px; 
$fs_h1: 42px;

//Gap

$gap_1: 10px;
$gap_2: 15px;
$gap_3: 20px;
$gap_4: 25px;
$gap_5: 30px;
$gap_6: 35px;
$gap_7: 40px;


//Weight 

$weight_xss: 200;
$weight_xs: 300;
$weight_s: 400;
$weight_m: 500;
$weight_l: 600;
$weight_xl: 700;
$weight_xll: 800;





