#MaterialsPage {
    padding-top: 100px;
    width: 100%;
    display: block;
}

.material_page_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-bottom: 30px;
    max-width: 1100px;
        margin: 0 auto;
}

.material_page_block {
    display: flex;
    gap: 20px;
}

.material_page_title {
    font-size: 34px;
    font-family: Rubik;
    line-height: 0.9;
    margin-bottom: 15px;

}

.material_page_subtitle {
    font-size: 16px;
    font-family: Rubik;
    color: #67675F;
    max-width: 280px;
    padding-bottom: 30px;
}

.imgMaterialPage {
    width: 260px;
    height: 360px;
    border-radius: 8px;
    object-fit: cover;
    flex-shrink: 0;
}

.material_page_btn {
    color: white;
    width: 150px;
    height: 45px;
    border-radius: 8px;
    border: none;
    background-color: #27AE60;
    cursor: pointer;
    transition: 0.3s;
}

.material_page_btn:hover {
    background-color: #219150;
    transform: translateY(-2px);
}

.material_page_title_btn {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
}